#savesContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.save-article-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E6037F;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    text-decoration: underline;
    transition: background-color 0.3s ease;
}

.save-article-button:hover {
    background-color: #2DAAE1;
}

.view-saves-button {
    background-color: #96C223;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 30px;
    text-decoration: underline;
    transition: background-color 0.3s ease;
}

.view-saves-button:hover {
    background-color: #E6037F;
}